.row {
    max-width: $grid-width;
    background-color: #eeeeee;
    margin: 0 auto; // Trick to center a block element inside a block element.
    
    // Applies bottom margin to all .row elements that are not the last-child.
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
}