.row {
    max-width: $grid-width;
    background-color: #eeeeee;
    margin: 0 auto; // Trick to center a block element inside a block element.
    
    // Applies bottom margin to all .row elements that are not the last-child.
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    /* 
        Attribute selector that selects all elements with
        a class that starts with "col-". Keeps code DRY.
    */
    [class^="col-"] {
        background-color: orangered;
        float: left;
    
        // Applies right margin to all .col-1-of-2 elements that are not the last-child.
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        // Subtracts gutter from 100% width and divides by 2.
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }
}