.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        /* 
            When an element is positioned absolutely, its position
            is set according to a reference, the first parent
            it encounters that has its position set to something.
        */
        position: absolute;
        z-index: 10;
        transition: all 0.2s;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            z-index: 20;
        }
    }
}