/* 
    Makes sure border and padding are NOT added
    to the total width/height specified to a box.
*/
/* 
    Every element now inherits the border-box box-sizing
    rule from the body selector below.
*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

/* 
    Makes it easier to convert to rem units. Takes 62.5%
    of root font-size and results in 10px.
*/
html {
    // This defines what 1rem is.
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}